<!DOCTYPE html>
<html lang="en">
<head>


    <link rel="stylesheet" type="text/css" href="/style.css"/>
    <meta charset="UTF-8">
    <title>Header</title>

</head>


<body>

<h1 class="Header">
    <div>
        <a href=""></a>
        <div class="WizzImage">
            <div class="menu">
                <div class="buttons">
                    <span><button class="most-popular"> <span
                            class="text1">най-популярни полети </span> </button> </span>

                    <span> <button class="cars"> <span class="text1">коли </span> </button> </span>

                    <span> <button class="hotels"> <span class="text1">хотели </span> </button> </span>

                    <span> <button class="planning"> <span class="text1">планирайте </span> </button> </span>

                    <span> <button class="info"> <span class="text1">информация и услуги </span> </button> </span>

                    <span> <button class="check"> <span class="text1"> чекиране и резервации </span> </button> </span>

                    <span> <button class="login"> <span class="text1"> вход </span> </button> </span>
                </div>
            </div>

            <div class="wizzairpicture"><img src="https://download.logo.wine/logo/Wizz_Air/Wizz_Air-Logo.wine.png"
                                             width="250" height="150"></div>
        </div>
    </div>
</h1>
<div class="box">

    <a class="flight" href="#"><span></span>ПОЛЕТИ</a>
    <a class="flight" href="#"><span></span>ХОТЕЛИ</a>
    <a class="flight" href="#"><span></span>КОЛИ</a>


    <input type="text" id="origin" placeholder="НАСЕЛЕНО МЯСТО" name="Origin">
    <input type="text" id="destination" placeholder="ДЕСТИНАЦИЯ" name="Destination">

    <span id="goingText">Дата на тръгване:</span>
    <span id="returnText">Дата на връщане:</span><br/>


    <input id="departure" type="date" name="date" style="border-radius: 10px"/>
    <input id="return" type="date" name="date" style="border-radius: 10px"/>

    <br/>

    <input type="number" id="quantity" name="quantity" placeholder="ПЪТНИЦИ" min="1" max="7">

    <a class="flight" id="search" href="#"><span></span>ТЪРСЕНЕ</a>


</div>


</body>
</html>